extends ../layout

block content

    div(class="container")
        if success
          p(class="alert success") #{success}

        h2(class="page-header") Edit exemple
        form(method="post")
            div(class="form-group")
                label(for="name") Name
                p(id="name") #{item.name}

            div(class="form-group")
                label(for="description") Description
                textarea(name="description" id="description" class="form-control" required)
                    | #{(data.description ? data.description : item.description)}
                if errors.description
                    p(class="error") #{errors.description.message}

            input(type="submit" class="btn btn-default")
            input(type="submit" name="delete" value="Delete" class="btn btn-danger" onclick="if(!confirm('Are you sure ?')) { return false; }")

        br
        a(href="/exemple") Back to the list